<p id="player">

  <audio preload="auto" autobuffer>
    <source src="">
  </audio>

  <a href="#" id="play-player">▶</a>
  <a href="#" id="pause-player">❚&#x200a;❚</a>
</p>

<div id="container">
  <% if flash[:notice] %>
    <p><span class="approved"><%= flash[:notice] %></span></p>
  <% end %>
    <ul>
    	<% @mp3_files.each do |mp3| %>
    	  <li><a href="<%= mp3.url %>" class="mp3"><%= mp3.title %></a> <span> <%= mp3.artist %></span> <a id="<%= mp3.id %>" href="#" <% unless @user.fav_mp3s.include?(mp3.id.to_s) %>class="favourite"<% else %>class="unfavourite"<% end %>>&#9733;</a></li>
    	<% end %>
    </ul>
</div>