<div id="container">
  <% if flash[:notice] %>
    <p><span class="approved"><%= flash[:notice] %></span></p>
  <% end %>
    <ul>
    	<% @mp3_files.each do |mp3| %>	
    	  <li id="<%= mp3.id %>"><a href="<%= mp3.url %>">&rarr; <%= mp3.title %></a> <span> <%= mp3.artist %></span></li>
    	<% end %>
    </ul>
</div>
<script type="text/javascript" charset="utf-8"> 
  $(document).ready(function(){
    $.ajax({
      url: '/fav.json',
      dataType: 'json',
      data: '',
      success: load_playlist,
      error: function(request, status, error) {
        //alert(status+': '+error);
      }
    });
  });
</script>