<p id="player">

  <audio preload="auto" autobuffer>
    <source src="">
  </audio>

  <a href="#" id="play-player">▶</a>
  <a href="#" id="pause-player"> ❙  ❙ </a>
</p>
<div id="container">
  <h4><a href="/<%= @user.id %>"><%= @user.id %></a>'s playlist</h4>
  <ul>
  	<% @mp3_files.each do |mp3| %>
  	  <li>
  	    <a href="<%= mp3.url %>" class="mp3"><%= mp3.title || 'untitled' %></a>
  	    <span> <%= mp3.artist || 'untitled' %></span>
  	    <% if session? %><a id="<%= mp3.id %>" href="#" class="unfavourite">★</a><% end %>
  	  </li>
  	<% end %>
  </ul>
</div>