<p id="player">

  <audio preload="auto" autobuffer>
    <source src="">
  </audio>

  <a href="#" id="play-player">▶</a>
  <a href="#" id="pause-player">❚&#x200a;❚</a>
</p>
<div id="container">
  <h4><a href="/<%= @user.id %>"><%= @user.id %></a>'s playlist</h4>
  <ul>
  	<% @mp3_files.each do |mp3| %>	
  	  <li><a href="<%= mp3.url %>" class="mp3"><%= mp3.title %></a> <span> <%= mp3.artist %></span></li>
  	<% end %>
  </ul>
</div>